[alias]
    # Shortened commands
    cm = commit
    co = checkout
    ch = cherry-pick

    # Fix last commits
    fixlast = commit --fixup
    
    # Undo last commit
    pop = reset HEAD^
    
    # Edit last commit
    undo = commit --amend --no-edit
    
    # Show just the last commit
    last = --no-pager log -1 --oneline --color
    
    # Short status
    st = status -sb
    
    # List all commits
    ls = log --pretty=format:"%C(yellow)%h\\ %Creset%s%Cblue\\ [%cn]\\%Cred%d" --decorate
    
    # List all commits with changes
    ln = ls --numstat

    # Show which commits can be pushed to remote without --force
    unpushed = log @{u}..

    # Log since yesterday
    standup = log --since yesterday --author $(git config user.email) --pretty=short
    
    # Mark a branch as done (Prefix done-)
    markdone = "!f() { git branch | grep "$1" | cut -c 3- | grep -v done | xargs -I{} git branch -m {} done-{}; }; f"

    # Add a file/folder to .gitignore
    ignore = "!f() { echo \"$1\" >> .gitignore; }; f"

    # Find a file in repo (Restrict grep to filenames)
    ff = "!git ls-files | grep -i"